<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>List of Cats</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% block content %}
        <h1>Danh Sach Meo Might be show here..</h1>
        {% if dsMeo %}
        {% for meo in dsMeo %}
        <div>
            <ul>
                <li><p>Ten:{{ meo.nickname }}, Breed:{{ meo.breed }}, Thich an: {{meo.foods}},
                    {{meo.weight}}-Kg
                </p> </li>
            </ul>
        </div>
        {% endfor %}
        {% else %}
        <div>Hien tai chua them Giong Meo nao</div>
        {% endif %}
        {% if tong_breed > 0 %}
        <a href="{% url 'cats:add_cat' %}">Add Cat</a>
        {% else %}
        <div>
            Please add breed truoc khi them Meo
        </div>
        {% endif %}
        <strong>Breed: {{ tong_breed }}</strong>
        <div>
            <a href="{% url 'cats:view_breed' %}">View Breed</a>||
            <a href="{% url 'cats:add_breed' %}">Add Breed</a>
        </div>

        {% endblock %}
        <script src="" async defer></script>
    </body>
</html>